<!DOCTYPE html>
<html>
    <head>
   		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  	<meta name="description" content="">
	  	<meta name="author" content="">
	  	
	  	<!-- Bootstrap core CSS -->
  		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

	  	<!-- Custom styles for this template -->
	  	<link th:href="@{/css/style.css}" rel="stylesheet">
	  	
    </head>
    <body>
    	<!--header.html  that's here  -->
        <div th:replace="fragments/header :: header"></div>
        
        <div layout:fragment="content">
        	<p>Can you see me?</p>
        </div>
        
        <!--footer.html  that's here  -->
        <div th:replace="fragments/footer :: footer"></div>
        
        
        <!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery.min.js}"></script>
  		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>