<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="description" content="">
  	<meta name="author" content="">
  	
  	<!-- Bootstrap core CSS -->
 		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

  	<!-- Custom styles for this template -->
  	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title>Foodie blog - WIth Basic bootstrap template</title>
<body>
	<div th:replace="fragments/header :: header"></div>

	<!-- Page Content -->
	  <div class="container">
	  
	  
	<br />
	    <div class="row">
	
	      
	       <!-- Post Content Column -->
		      <div class="col-md-8 offset-md-2">
		
		        <!-- Title -->
		        <h1 class="mt-4" th:text="${post.title}">Post Title</h1>
		
		        <!-- Author -->
		        <!-- 
		        <p class="lead">
		          by
		          <a href="#">Start Bootstrap</a>
		        </p>
		         -->
		
		        <hr>
		
		        <!-- Date/Time -->
		        <p>Posted on <span th:text="${#dates.format(post.createdAt, 'dd-MMM-yyyy')}"></span></p>
		
		        <hr>
		
		        <!-- Preview Image -->
		        <img class="img-fluid rounded" th:src="@{${'/uploads/' + post.imgUrl }}" th:alt="${post.title}">
		
		        <hr>
		
		        <!-- Post Content -->
		        <div class="post_content" th:utext="${post.content}"></div>
		        
		         <hr>
		
		       
		        
		
		      </div>
	       
	        
	
	      </div>
	
	      
	
	    </div>
	    <!-- /.row -->
	
	  </div>
	  <!-- /.container -->



	<!--footer.html  that's here  -->
	<div th:replace="fragments/footer :: footer"></div>


	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>